body {
    margin: 0;
  }
  
  #panel-header .row {
      margin: 0;
    height: 60px;
    width: 100%;
  }



  #panel-header{
      width: 100%;
  }
  #panel-header .row .logo {
      cursor: pointer;
    width: 14%;
    height: 60px;
    background-color: #0E0E0E;
    box-sizing: border-box;
    position: absolute;
    transition: 1s ease;    
    top: 0;
    left: 0;
    width: 250px;
    z-index: 810;
  }
  #panel-header .row .logo .header-img {
      margin-bottom: 3%;
    text-align: center;
  }
  #panel-header .row .logo .header-img img {
    width: 70%;
  }
  #panel-header .row .Navbar {
    width: 100%;
    background: #2A3F54;
    height: 60px;
  }

  #panel-header .row .Navbar .Ic {
      cursor: pointer;
      float: left;
      margin-top: 13px;
   font-size: 2.2em;
   transition: 1s ease;
   margin-left: 20px;
   color: white;
  

  }

  #panel-header .row .Navbar ul li .Icon2 {
    float: left;
    margin-top: -1px;
 font-size: 2.2em;
 transition: 1s ease;
 color: white;
}

#panel-header .row .Navbar ul {
    float: right;
  list-style: none;
  margin-right: 48px;
  
  
}
#panel-header .row .Navbar .count {
    text-align: center;
    /* width: 19px; */
    /* height: 17px; */
    border-radius: 50%;
    margin-left: -6px;
    position: absolute;
    z-index: 2;
    top: -40%;
    /* left: -13%; */
    box-sizing: border-box;
    background: red;
    padding: 0px 7px;
  
  
}
 



#panel-header .row .Navbar ul li {
    text-decoration: none;
   width: 20px;
   height: 20px;
display: inline-block;
margin-top: 2px;
margin-left: 43px;
position: relative;
cursor: pointer;

}
#panel-header .row .Navbar ul li > img{
   width: 40px;
   border-radius: 50%;

}

  #panel-header .row .Navbar i:hover {
    color: #009688;

}
@media only screen and (max-width: 800px) {
    
    #panel-header .row .Navbar .count {
        color: white;
        /* width: 18px; */
        text-align: center;
        /* height: 17px; */
        border-radius: 50%;
        margin-left: 14px;
        background: red;
        padding-top: -12px;
        position: absolute;
        z-index: 2;
        top: 13%;
        padding: 0px 8px;
        box-sizing: border-box;
      
    }
      #panel-header .row .logo {
        width: 100%;
        height: 60px;
        box-sizing: border-box;
      }
    #panel-header .row .logo .header-img img {
        width: 200px;
      }
      #panel-header .row .Navbar {
          position: absolute;
        background: #2A3F54;
        height: 60px;
        margin-top: 60px;
      }
      #panel-header .row .Icon{
          width: 10px;
          height: 10px;
     margin-left: 30px !important;
    }
    #panel-header .row .Icon2{
        width: 10px;
        height: 10px;
   margin-left: 30px !important;
  }
  #panel-header .row .Navbar ul li > i {
    float: left;
    margin-top: -1px;
 transition: 1s ease;
 color: white;
}
}

@media only screen and (max-width: 568px) {
    body{
        background: green !important;

    }

    #panel-header .row .Navbar .count {
       
        font-size: 0.5em;
        color: white;
        width: 13px;
        text-align: center;
        height: 15px;
        border-radius: 50%;
        margin-left: 2px;
        background: red;
        padding-top: -12px;
        position: absolute;
        z-index: 2;
        top: 13%;
        padding: 0px;
        box-sizing: border-box;
    }
    #panel-header .row .Navbar i {
        margin-top: 17px;
       font-size: 1.3em;
    }
    #panel-header .row .Navbar ul {
        font-size: 1.3em;
        margin-right: 25px;

    }
    #panel-header .row .Navbar ul  li > i {
        font-size: 0.8em;
        margin-top: 7px;
    }
    #panel-header .row .Navbar ul li {
        margin-left: 9px;
    }
    #panel-header .row .Navbar ul li  img{
        width: 28px;
        margin-left: 10px;
    }
    #panel-header .row .Icon{
        width: 10px;
        height: 10px;
   margin-left: 16px !important;
  }
}
.Drop{
    width: 250px;
    overflow-x: hidden;
    overflow-y: scroll;
    height: 0px;
    background: #e5f3ed;
    position: fixed;
    position: absolute;
    margin-top: 46px;
    margin-left: -182px;
    transition: 1s ease;
}

.DropdownShow{
    width: 250px;
    height: 55px;
    background: #e5f3ed;
    transition: 1s ease;
    box-sizing: border-box;
}


.DropdownShow:hover{
    background: white;
}
.Drop::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

.Drop::-webkit-scrollbar
{
	width: 4px;
	background-color: #F5F5F5;
}

.Drop::-webkit-scrollbar-thumb
{
	border-radius: 50px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: gray;
}

.Setting::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

.Setting::-webkit-scrollbar
{
	width: 4px;
	background-color: #F5F5F5;
}

.Setting::-webkit-scrollbar-thumb
{
	border-radius: 50px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: gray;
}

.DropdownShow img{
    margin: 10px 5px;
    width: 40px;
    background: white;
    height: 40px;
    border: 1px solid #908c8c;
}

.DropdownShow h5{
    margin-left: 55px;
    margin-top: -53px;
    font-size: 1.1rem;
}

.DropdownShow p{
    margin-top: -5px;
    margin-bottom: 1rem;
    margin-left: 55px;
    font-size: 13px;
}

.DropdownBell{
    width: 250px;
    height: 33px;
    background: #e5f3ed;
    transition: 1s ease;
    box-sizing: border-box;
}

.DropdownBell:hover{
 
    background: white;

}

.DropdownBell i{

    font-size: 1.1em;
    margin-top: 10px;
    margin-left: 7px;
    color: #009688;
}

.DropdownBell p{
    font-size: 1em;
    margin-top: -27px;
    margin-left: 32px;
    font-family: 'Lato', sans-serif;
    }

    .DropdownBell .label{
        
        margin-top: -35px;
        color: white;
       
        display: inline;
        padding: .2em 0.5em 0.1em;
        float: right;
        font-size: 75%;
        font-weight: 700;
        line-height: 1;
        color: #fff;
        text-align: center;
        white-space: nowrap;
        vertical-align: baseline;
        border-radius: .25em;

    }

    .Setting i{
        
            font-size: 1.1em;
            margin-top: 10px;
            margin-left: 7px;
            color: black;
        }

    .Setting{
        width: 250px;
        height: 54px;
        background:white;
        transition: 1s ease;
        box-sizing: border-box;
    }

    .Setting p{
        font-size: 1em;
        margin-top: -27px;
        margin-left: 43px;
        font-family: 'Lato', sans-serif;
        }
    /* margin-left: -132px;
    width: 170px;
    height: 137px; */

    .Icon22{
        
    }